


  <% layout('/layouts/boilerplate') %>

  <div class="row">
    <div class="col-8 offset-2">
     <br> <br>  
      <h1 class="mb-3">Edit yourListing</h1>
      <form action="/listings/<%= listing._id %>?_method=PUT" method="post" >
        <div class="mb-3">
          <label for="title" class="form-lable">Title</label>
          <input id="title" type="text" placeholder="Add a title" class="form-control" name="listing[title]" value="<%= listing.title %>">
        </div>
        <div class="mb-3">
          <label for="description" class="form-lable">Description</label>
          <textarea id="description" class="form-control" name="listing[description]" cols="23" rows="2"
            placeholder="Enter discription ..."> <%= listing.description %> </textarea>
        </div>
        <div class="mb-3">
          <label for="image" class="form-lable">Image URL</label>
          <input type="text" id="image" class="form-control" placeholder="image url" name="listing[image]"  value="<%= listing.image %>">
        </div>
     <div class="row" >
      <div class="mb-3 col-md-4">
        <label for="price" class="form-lable">Price</label>
        <input type="number" name="listing[price]" class="form-control" id="price" placeholder="999"  value="<%= listing.price %>">
      </div>
        <div class="mb-3 col-md-8 ">
          <label for="country" class="form-lable">Country</label>
          <input type="text" id="country" class="form-control" name="listing[country]"
            placeholder="India"  value="<%= listing.country %>" >
        </div>
     </div>
        <div class="mb-3">
          <label for="location" class="form-lable">Location</label>
          <input type="text" id="location" class="form-control" name="listing[location]" placeholder="Jaipur, Rajasthan" value="<%= listing.location %>">
        </div><br>
       
        <button class="btn mb-3 edit-btn">Edit</button>
    </div>
  </div>